{% load staticfiles %}
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Lenguajes e Interfaz</title>
<link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>

<link href="static/css/estilo.css" type="text/css" rel="stylesheet" media="">

</head>

<body>
	<div id="chat">Chat</div>

	<!-- Inicia Cabezote -->

	<header>

		<div id="logo">Vazquez</div>

	    <div id="icono1" class="redes">X</div>
	    <div id="icono2" class="redes">X</div>
	    <div id="icono3" class="redes">X</div>

	</header>

	<!-- Cierra Cabezote -->

	<!-- Inicia Barra de Navegación -->
	<nav>

		<ul>

	    	<a href="#"><li class="botones">Java</li></a>
	        <a href="#"><li class="botones">Python</li></a>
	        <a href="#"><li class="botones">Javascript</li></a>
	        <a href="#"><li class="botones">C++</li></a>
	        <a href="#"><li class="botones">C#</li></a>

	    </ul>

	</nav>

	<!-- Cierra Barra de Navegación -->

	<!-- Inicia parte Superior -->

	<div id="top">

		<ul>
	    	<li>
	        	<img src="static/img/en01.jpg" width="100">
	        	<h1>Ensamblador</h1>
	            <p>Es el lenguaje de programacion utilizado para escribir progrmas informaticos de bajo nivel.</p>

	        </li>

	        <li>
	        	<img src="static/img/en02.jpg" width="100">
	        	<h1>Macros</h1>
	            <p>Secuencia de nemónicos que puede incertarse en el código fuente del ensamblador de una
								manera abreviada, mediante una simple llamada.</p>
	        </li>

	        <li>
	        	<img src="static/img/en03.jpg" width="100">
	        	<h1>Nemónicos.</h1>
	            <p>Grupos de caracteres alfanuméricos, que simbolizan las órdenes o tareas a realizar.</p>
	        </li>
	   </ul>

	</div>

	<!-- Cierra parte Superior -->

	<!-- Inicia Sección -->

	<section>

	    <aside id="izq">

	        <ul>

	        	<li><a href="#">Java</a></li>
	            <li><a href="#">Javascript</a></li>
	            <li><a href="#">C#</a></li>
	            <li><a href="#">C++</a></li>

	        </ul>

	    </aside>

	    <article>

	    	<h1>El codigo fuente</h1>
	    	<p><img src="static/img/en04.jpg" width="250">En el contexto de la informática, el código fuente se define como el conjunto de líneas de textos, que son las directrices que debe seguir la computadora para realizar dicho programa; por lo que es en el código fuente, donde se encuentra escrito el funcionamiento de la computadora.</p>
	        <br>
	        <p>El código fuente de un programa está escrito en un lenguaje de programación determinado, sin embargo este tipo de lenguaje no puede ser ejecutado directamente por el computador, sino que debe ser traducido a otro lenguaje que el ordenador pueda ejecutar más fácilmente. Para esta traducción se emplean los llamados compiladores, ensambladores, intérpretes, entre otros. </p>

	    </article>

	    <aside id="der">

	    	<h1>Ingreso</h1>

	        <form>

	        	<input type="text" placeholder="Usuario">

	            <input type="password" placeholder="Contraseña">

	            <input type="submit" value="Enviar">


	        </form>

	    </aside>

	</section>

	<!-- Cierra Sección -->

	<!-- Inicia Pie de Página -->

	<footer>

		&copy; Todos los derechos reservados (Francisco Vazquez Delgado).

	</footer>

	<!-- Cierra Pie de Página -->






</body>
</html>
